{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Blog
{% endblock %}

{% block content %}
<section class="home-about-area section-gap ">
	<div class="container mx-auto">
		{% if blog %}
		{% for b in blog %}
		<a href="{{ b.get_post_url }}"><img  src="{{ b.blog_img }}" class="img-fluid" alt=""></a>
		{% endfor %}
		{% endif %}
	</div>	
	<br>
	<div class="ml-50 col-lg-10">
		<h1>Job Vacancy</h1>
	<h3>Leave a Comment / <a href="{% url 'frontend:career' %}"> Career</a> / By Transtura</h3>
	{% if blog %}
		{% for p in blog %}
	<p>
		{{ p.content | safe }}
	</p>
	{% endfor %}
		{% endif %}
	</div>
	
	
	
</section>	
			
{% endblock %}