{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Hire a Bus
{% endblock %}

{% block content %}
				
			<section class="home-calltoaction-area1 relative" style="background-color: black;">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row align-items-center section-gap">
						
						<div class="col-lg-4 btn-left">
							<img src="../../static/frontend/img/trans_bus.png"  class="img-fluid" style="max-height: 200px;
							min-height: 200px;" alt="">
						</div>
						<div class="col-lg-8">
							<h1 style=" font-family: 'Montserrat', sans-serif; font-weight: bolder; color: rgb(255, 255, 255);">Hire a bus for personal errands, <br> friends and family hangout and events.</h1>
							
						</div>
					</div>
				</div>	
			</section>
			
			<br><br>
			<h2 class="text-center text-capitalize " style=" font-family: 'Montserrat', sans-serif; font-weight: 900;">Request a private bus </h2>
			<h2 class="text-center text-capitalize" style=" font-family: 'Montserrat', sans-serif; font-weight: 900;">Fill in your details below and a member of <br> our team will reach out to you within the next 3hrs</h2>
				 <br><br>
				 <p class="text-center">Fields marked with an <span style="color: red;">*</span> are required</p>
			<form class="form transparent-form col-lg-6 mt-75 mx-auto" method="POST">
				{% if messages %}
				{% for mes in messages%}
					<div style="font-size: 18px; font-weight: 500;" class="alert {{ mes.tags }} text-center">{{ mes }}</div>
				{% endfor %}
				{% endif %}
				
				{% csrf_token %}

				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px;">First Name <span style="color: red;">*</span></label>
					 {{ hire_form.pst_firstname }}
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px;">Last Name  <span style="color: red;">*</span></label>
					 {{ hire_form.pst_lastname }}
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px;">Fom Where  <span style="color: red;">*</span>: </label>
					 <div class="input-group">
						<span class="input-group-addon">
						  
						</span>
						{{ hire_form.from_where }}
					 </div>
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px;">Where are you going  <span style="color: red;">*</span>: </label>
					 <div class="input-group">
						<span class="input-group-addon">
						  
						</span>
						{{ hire_form.to_where }}
					 </div>
				  </div>
				  <div class="form-group">
					<label style="font-weight: 600; font-size: 20px;">Email  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ hire_form.email }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px;">Phone  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ hire_form.phone }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px;">No of Passenger  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ hire_form.passng }}
					</div>
				 </div>
				 <label style="font-weight: 600; font-size: 20px;"> Date/Time <span style="color: red;">*</span>: </label>
				 <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
				   {{ hire_form.da_ti }}
				   <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
					 <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				   </div>
				 </div>
				 
				
				  <button type="submit" class="text-uppercase btn btn-outline-warning btn-lg mx-auto">Submit</button>
			   </form>
			   <br><br>

			   <script>
				$(function () {
				  $("#datetimepicker1").datetimepicker({
					format: 'DD/MM/YYYY HH:mm',
				  });
				  $("#datetimepicker2").datetimepicker({
					format: 'DD/MM/YYYY HH:mm',
				  });
				});
			  </script>
			

			<!-- End home-about Area -->												
				    																			
	{% endblock %}