{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Home
{% endblock %}

{% block content %}
			<!-- start banner Area -->
			<section class="banner-area relative mt-20"  id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-between">
						<div class="banner-content col-lg-6 col-md-6  ">
							
							<h1 class="ml-50" style="color: black; font-size: 3rem; font-family: 'Montserrat', sans-serif; font-weight: 900;">
								Move around the city daily with Transtura			
							</h1>
							<p class="ml-50" style="color: black;  font-family: 'Montserrat', sans-serif; font-weight: 900;">Affordable, Smart, Safe and Comfortable Intracity Ride</p>
						</div>
					
						<div class="col-lg-6  col-md-6 ">
							<img src="../../static/frontend/img/trans_bus.png" class="img-fluid mt-50 col-sm-10" style="" alt="">
							<br>
							<div class="col-md-12 text-center mt-50">
								<a href="#" class="btn btn-outline-dark text-uppercase">Call for Transtura</a>
							</div>
							
							
							

							
							
						</div>		
						<div class="row mt-30 mb-30 mx-auto pic">
	
							<div class="col-lg-6 col-sm-5">
							<img src="../../static/frontend/img/google-play-badge-logo-png-transparent-300x104.png" class="col-lg-12 mb-50" alt="">
							</div>	
								
							<div class=" col-lg-6 col-sm-5 " >
								<img src="../../static/frontend/img/apple-app-store-logo-300x104.png" class="col-lg-12 " alt="">
							</div>
						</div>				
					</div>
					
				</div>			
						
			</section>
			<!-- End banner Area -->	
			<br><br><br>

				<!-- Start home-about Area -->
				<section class="home-about-area section-gap">
					<div class="container">
						<div class="text-center">
							<h1 style="color: black; font-size: 50px; font-family: 'Montserrat', sans-serif;">Transtura</h1>
							<br>
							<p style="color: black; line-height: 30px; font-size: 15px; font-family: 'Montserrat', sans-serif;">
								Transtura is a public transportation management company that provides comfortable, 
								convenient, reliable, safe, and affordable on demand bus ride sharing service. Our
								 smart ride hailing service enables people to commute within their cities at the 
								 cheapest price using our tech-driven solutions.
							</p>
							 <a href="{%url 'frontend:about' %}"><button class="btn btn-outline-warning btn-lg" style=" font-family: 'Montserrat', sans-serif;">Learn More</button></a>
						</div>
					</div>	
				</section>
				<!-- End home-about Area -->
			<!-- Start home-about Area -->
			<section class="home-about-area ">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 about-left">
							<img class="img-fluid" src="../../static/frontend/img/trans_bus.png" alt="">
						</div>
						<div class="col-lg-6 about-right">
							<h1>A smart way to commute in Lagos</h1>
							
							<p>		
								Whether you’re looking for a smart way to commute, or to earn a living, we’ve got you covered.						
							</p>
							
							
													
									<div class="row mx">
										<div class="col-lg-6 col-md-6 col-sm-12 mt-50">
											<div class="single-review5">
												<a class=""  href="#">Ride with Transtura</a>

											</div>
										</div>	
										<div class="col-lg-6 col-md-6 col-sm-12 mt-50">
											<div class="single-review5 mx-auto">
												
												<a class=" " href="#">Ride with Transtura</a>
											</div>
										</div>	
																																						
									</div>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			
		

			<br><br><br>
				<!-- Start reviews Area -->
				<section class="reviews-area">
					<div class="container">
						<div class="section-title">
							<h1 style="text-align: center; font-weight: 800; font-family: 'Montserrat', sans-serif;">What is Driving Us</h1>
							
						</div>					
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-review3">
									<span><i class="fa fa-ambulance" style="text-align: left; font-size: 50px; color: black;"></i></span>
									<h4 style=" font-family: 'Montserrat', sans-serif;">Safety for everyone </h4>
									<p>
										We are redefining public travel experience by ensuring that you are safe throughout your commuting time with us using technology and automations.
									</p>
									
								</div>
							</div>	
							<div class="col-lg-4 col-md-6">
								<div class="single-review4">
									<span><i class="fa fa-calendar-o" style="text-align: left; font-size: 50px;"></i></span>
									<h4 style=" font-family: 'Montserrat', sans-serif;">Excellent shared commuting service </h4>
									<p>
										We provide you with hassle free and smart bus travel. You can book a ride and schedule a trip right from the comfort of your home. Our professional pilots and air-conditioned buses are available 24/7.
									</p>
									
								</div>
							</div>	
							<div class="col-lg-4 col-md-6">
								<div class="single-review3">
									<span><i class="fa fa-street-view" style="text-align: left; font-size: 50px; color: black;"></i></span>
									<h4 style=" font-family: 'Montserrat', sans-serif;">Connect people</h4>
									<p>
										A ride with us is an opportunity to meet new people in your community and build defining and important relationships.
									</p>
								</div>
							</div>	
							
																																						
						</div>
					</div>	
				</section>
				<!-- End reviews Area -->
				<hr  style="background-color: black; font-weight: bolder; width: 80%;">
				<br>
				<!-- Start reviews Area -->
				<section class="reviews-area">
					<div class="container">
										
						<div class="row">
							
							<div class=" offset-lg-2 col-lg-4 col-md-6">
								<div class="single-review4">
									<span><i class="fa fa-thumbs-up" style="text-align: left; font-size: 50px;"></i></span>
									<h4 style=" font-family: 'Montserrat', sans-serif;">Save the planet</h4>
									<p>
										By helping to reduce the number of cars on the road, we can save the planet and make it healthier than we met it.
									</p>
									
								</div>
							</div>	
							<div class="col-lg-4 col-md-6">
								<div class="single-review3">
									<span><i class="fa fa-credit-card" style="text-align: left; font-size: 50px; color: black;"></i></span>
									<h4 style=" font-family: 'Montserrat', sans-serif;">Affordable Ride</h4>
									<p>
										We provide an on demand buspool trip at the cheapest price you can ever imagined with
										 professional drivers and air-conditioned buses.
									</p>
									
								</div>
							</div>	
																																						
						</div>
					</div>	
				</section>
				<!-- End reviews Area -->
			
		
			<br><br><br>
		
							
			<!-- Start home-calltoaction Area -->
			<section class="home-calltoaction-area relative mt-20 section-gap">
				<div class="container">
					
					<div class="row align-items-center">
						<div class="col-lg-8">
							<h1 style="font-family: 'Montserrat', sans-serif; font-weight: 700; ">Affordable. Smart. <br> Safe. Comfortable.</h1>
							<p style="color: black; font-weight: 500;">
								For maximum comfort while also communicating smartly, ride with us and <br> experience Transtura magic
							</p>
						</div>
						<div class="col-lg-4 btn-left">
							<img src="../../static/frontend/img/mockk.png" class="img-fluid"  alt="">
						</div>
						<div class="row mt-30 mb-30 mx-auto pic">
	
							<div class="col-lg-6 col-sm-5">
							<img src="../../static/frontend/img/google-play-badge-logo-png-transparent-300x104.png" class="col-lg-12 mb-50" alt="">
							</div>	
								
							<div class=" col-lg-6 col-sm-5 " >
								<img src="../../static/frontend/img/apple-app-store-logo-300x104.png" class="col-lg-12 " alt="">
							</div>
						</div>		
					</div>
				</div>	
			</section>
			<!-- End home-calltoaction Area -->
			<br>
				<!-- Start services Area -->
				<section class="services-area pb-120">
					<div class="container-fluid">
						<div class="section-title text-center">
							<h4 >Your Ride</h4>
							<h1>Four Options in One App</h1>
							
						</div>
						<div class="row" style="background-image: linear-gradient(
							180deg, #FFFFFF 0%, #9A9A9A 100%);" >
							{% if four %}
							{% for f in four%}
							<div class="col-lg-5 col-md-6  single-service1 mx-auto ">
								<h4 style="font-size:40px;  font-family: 'Montserrat', sans-serif;">{{ f.title }}</h4>
								<p class="text-left" style="color: rgb(0, 0, 0); font-weight: 500; font-size: 20px;">
									{{ f.content }}
								</p>
								<br>
								<img src="{{ f.post_img }}" class="img-fluid"  alt="">
							</div>
							{% endfor %}
							{% endif %}
							
																		
						</div>	
					</div>	
				</section>
				<!-- End services Area -->
				<br><br><br>
			<!-- Start home-calltoaction Area -->
			<section class="home-calltoaction-area1 relative" style="background-color: black;">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row align-items-center section-gap">
						<div class="col-lg-8">
							<h1 style="font-weight: bold; color: rgb(255, 255, 255); font-size: 60px;">Short trips that promise comfort and convenience</h1>
						
						</div>
						<div class="col-lg-4 btn-left">
							<img src="../../static/frontend/img/moc.png" class="img-fluid"  alt="">
						</div>
						
					</div>
				</div>	
			</section>
			<!-- End home-calltoaction Area -->
			
		
			
{% endblock %}