{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Drive with Us
{% endblock %}

{% block content %}

			
			<!-- End banner Area -->	
			<section class="home-calltoaction-area1 relative" style="background-color: black;">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row align-items-center section-gap">
						<div class="col-lg-8">
							<h1 style=" color: #f9d700; font-weight: 700; font-family: 'Montserrat', sans-serif; ">Become Your Own Boss, <br> Drive With Transtura</h1>
							<p style="color: white;">
								You can earn as much as you want with Transtura.
							</p>
						</div>
						<div class="col-lg-4 btn-left">
							<img src="../../static/frontend/img/trans_bus.png" class="img-fluid" alt="">
						</div>
					</div>
				</div>	
			</section>
			
			<!-- Start home-about Area -->
			<section class="home-about-area section-gap ">
				<div class="container mx-auto">
					<img  src="../../static/frontend/img/EXPERIENCED DRIVERb.jpg" class="img-fluid" alt="">
				</div>	

			
			</section>
			<h2 class="text-center sect" style="font-family: 'Montserrat', sans-serif; ">Thank you for showing interest in joining us to change the <br>
				 narrative, please submit an application here. </h2>
				 <br><br>
				 <p class="text-center">Fields marked with an <span style="color: red;">*</span> are required</p>
			<form class="form transparent-form col-lg-6 mt-75 mx-auto" method="POST">
				{% if messages %}
				{% for m in messages%}
					<div style="font-size: 18px; font-weight: 500;" class="alert {{ m.tags }} text-center">{{ m }}</div>
				{% endfor %}
				{% endif %}
				
				{% csrf_token %}

				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">First Name <span style="color: red;">*</span></label>
					 {{ form.pst_firstname }}
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">Last Name  <span style="color: red;">*</span></label>
					 {{ form.pst_lastname }}
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">Email  <span style="color: red;">*</span>: </label>
					 <div class="input-group">
						<span class="input-group-addon">
						  
						</span>
						{{ form.email }}
					 </div>
				  </div>
				  <div class="form-group">
					 <label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">Phone  <span style="color: red;">*</span>: </label>
					 <div class="input-group">
						<span class="input-group-addon">
						  
						</span>
						{{ form.phone }}
					 </div>
				  </div>
				  <div class="form-group">
					<label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">State  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ form.state }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">City  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ form.city }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">Home Address  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ form.home }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">Driver's License No  <span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ form.driver }}
					</div>
				 </div>
				 <div class="form-group">
					<label style="font-weight: 600; font-size: 20px; font-family: 'Montserrat', sans-serif; ">NIN<span style="color: red;">*</span>: </label>
					<div class="input-group">
					   <span class="input-group-addon">
						 
					   </span>
					   {{ form.nin }}
					</div>
				 </div>
				  
				  <button type="submit" class="text-uppercase btn btn-outline-warning btn-lg mx-auto">Submit</button>
			   </form>
			   <br><br>
			<!-- End home-about Area -->												
				    																			
	{% endblock %}